<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Medico</strong> by <a href="https://jgthms.com">Fuad Hassa</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">ISC</a>. 
    </p>
  </div>
</footer>