<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/images/logo.png" width="32" height="32">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{#if user}}
            <a class="button is-danger medico-sign-out-button">
              <strong>Sign Out</strong>
            </a>
          {{else}}
            <a class="button is-primary medico-sign-up-button">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light medico-sign-in-button">
              Log in
            </a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>