<section class="hero is-info is-large">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Medico
      </p>
      <p class="subtitle">
        Saving Lives
      </p>
    </div>
  </div>
</section>
