<% include partials/header %>

<body>
  <div class="content">
  <div class="container">
 	<div class="row">
 		<div class="col-lg-12">
 			<div class="content">
 				<h1>Medico</h1>
 				<h3>Saving Lives</h3>
 				<a href="/doctors" class="btn btn-primary btn-lg active">View All Doctors</a>
 			</div>
 		</div>
 	</div>
  </div>	
</div>
</body>

<% include partials/footer %>